div {
    font-size:14px;
    text-align: center;
    border: 300px;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
#plant  {
    float: right;    
     margin: 0 0 0 15px;
    }
#plink {
    font-size: 18px;
}
