#writing {
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
#plant  {  
    margin: 0 0 0 15px;
    }
#plink {
    font-size: 18px;
}
